@media (max-width: 500px) {
  .resultListContainer {
    overflow-y: scroll;
    font-size: 1.5rem;
    width: 80vw;
    padding-bottom: 20%;
  }
  .san {
    font-size: 1rem;
  }
  .player {
    font-size: 1.2rem;
  }
}

.mainText {
  font-size: 1.5rem;
  font-family: "Noto Sans JP", sans-serif;
}

@media (min-width: 1200px) {
  .userInfoText {
    font-size: 1.5rem;
    .time {
      font-size: 1rem;
    }
  }

  .resultListContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    font-size: 2rem;
    margin-left: 10vw;
    width: 70vw;
  }
  .san {
    font-size: 1.5rem;
  }
  .main {
    background-color: aqua;
  }
}
