.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
}

@media (min-width: 1200px) {
  .resultContainer {
    font-size: 2rem;
    width: 30vw;
    height: 20vw;
  }
  .san {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .resultContainer {
    font-size: 1.5rem;
    width: 80vw;
  }
  .san {
    font-size: 1rem;
  }
}
