@media (min-width: 1200px) {
  .sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    background: #ffffff3a;
    z-index: 100;
    transition: all 0.5s ease;
    box-shadow: 0 0 10px rgba(37, 255, 66, 0.24);
    background-color: rgba(127, 255, 212, 0.198);
  }
}
@media (max-width: 1199px) {
  .sidebar {
    z-index: 100;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease;
    font-size: 90%;
    user-select: none;
    border-top: 3px solid #00000010;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 500px) {
  .sidebar {
    background-color: #ffffff;
  }
  .icon {
    display: none;
  }
}
