/* ~639px */

.resultContainer {
  margin-bottom: 10px;
  margin-top: 15px;
  background-color: #1fa37018;
  border-radius: 10px;
  /* box-shadow: inset 0 0 10px rgba(37, 255, 66, 0.479); */
  overflow-y: scroll;
  height: 60vh;
}

.main form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main input[type="submit"] {
  padding: 10px 20px;
  color: #fff;
  background-color: #10a31c;
  border: none;
  border-radius: 4px;
  text-align: center;
}

.left {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* 640~1199px */
@media (min-width: 640px) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .left {
    margin-right: 3vh;
    width: 45vw;
  }
  .resultContainer {
    width: 45vw;
  }
}

/* 1200px ~ */
@media (min-width: 1200px) {
  .main {
    padding: 0 0 0 25vw;
    margin-right: 5vw;
  }
  .resultContainer {
    margin-bottom: 50px;
    margin-top: 15px;
    background-color: #0553400c;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(37, 255, 66, 0.24);
    overflow-y: scroll;
    height: 60vh;
    width: 35vw;
  }
  .left {
    margin-left: 5vh;
    width: 35vw;
  }
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
