.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 3%;
  font-size: 1.5rem;
}

.bluebtn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #3b82f6;
}

.bluebtn:hover {
  background-color: #1d4ed8;
}

@media (max-width: 500px) {
  .container {
    font-size: 1rem;
  }
}
/*PC 
  
  @media (min-width: 1200px) {
    
    .sidebar {
      position: fixed;
      height: 100%;
      width: 250px;
      background: #ffffff3a;
      z-index: 100;
      transition: all 0.5s ease;
      box-shadow: 0 0 10px rgba(37, 255, 66, 0.24);
    }
  } 
  
  
   tablet
  @media (max-width: 1199px) {
    .sidebar {
      z-index: 100;
      display: flex;
      flex-direction: row;
      text-align: center;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      transition: all 0.5s ease;
      font-size: 90%;
      user-select: none;
      border-top: 3px solid #00000010;
    }
  }
      
       mobile
  @media (max-width: 500px) {
    .sidebar {
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      bottom: 0;
      transition: all 0.5s ease;
      font-size: 90%;
      user-select: none;
      border-top: 3px solid #00000010;
    }
  }
  */
